<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         bootstrap="vendor/autoload.php"
         failOnRisky="true"
         failOnWarning="true"
>
    <php>
        <ini name="error_reporting" value="-1"/>
        <env name="AWS_ACCESS_KEY_ID" value="FakeId"/>
        <env name="AWS_SECRET_ACCESS_KEY" value="FakeKey"/>
        <env name="AWS_DEFAULT_REGION" value="local"/>
        <env name="S3_ENDPOINT" value="http://localhost:4569"/>
        <env name="S3_BUCKET" value="tests-s3-zip"/>
    </php>
    <testsuites>
        <testsuite name="Test Suite">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>
</phpunit>
